@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
    background-color: #508593;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color:#544f63;
}

.navbar-light {
    background-color: #f2d2ec;
}

