@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
    background-color: #508593;
    font-family: "Open Sans", sans-serif;
    height: 100%;
}

h1, label {
    color: #eeeeee;
}

.btn {
    color: #508993;
    background-color: #f2d2ec;
    border-color: #f2d2ec;
}

.btn.btn-danger {
    color: #f2d2ec;
    background-color: #508593;
    border-color: #508593;
}

div.container {
    padding-top: 30px;    
}

.navbar-light {
    background-color: #eeeeee;
}

/* Landing page (Hero image) */
#homepage_img { 
    height: 550px;
    width: 100%;
    object-fit: cover;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(image/hero.jpg);
}

#homepage_img .d-lg-flex {
    padding-top: 20rem;
}

.jumbotron {
    background-color: #508593;
}

.card {
    width: 15rem;
    height: 18rem;
    margin: 3rem;
}

.card-img-top {
    height: 8rem;
}

.card-body {
    height: 8rem;
    font-size: x-small;
}

.card-title {
    margin-bottom: .1rem;
}

.card-text {
    height: 2.8rem;
}

.table-responsive-lg {
    background-color: #eeeeee !important;

}

#upload_widget {
    width: 100%;
    height: 18rem;
}
