@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
    background-color: #508593;
    font-family: "Open Sans", sans-serif;
}
 
h1 {
    color: #eeeeee;
    margin-bottom: 3rem;
}

h3 {
    color: #f2d2ec;
    font-size: 2vw;
    text-align: center;
}

label {
    color: #eeeeee;
}

.btn, input.search_btn {
    color: #121214;
    background-color: #f2d2ec;
    border-color: #121214;;
}

.btn:hover, input.search_btn:hover {
    color: #f2d2ec;
    background-color: #508993;
    border-color: #121214;
    box-shadow: 20px 20px 40px 0px #f2d2ec;
    font-size: 150%;
}

.form-control:hover {
    font-size: 150%;
    box-shadow: 20px 20px 40px 0px #f2d2ec;
}

div.container {
    padding-top: 30px;    
}

.navbar-light {
    background-color: #eeeeee;
}

.navbar-brand:hover, .nav-link:hover, .dropdown-item:hover {
    color: #508993 !important;
    font-size: 150%;
}

.navbar-brand:hover, .nav-link:hover {
    color: #f2d2ec;
    font-size: 150%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* Landing page (Hero image) */
#homepage_img { 
    height: 550px;
    width: 100%;
    object-fit: cover;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(image/hero.jpg);
}

#homepage_img .d-lg-flex {
    padding-top: 20rem;
}

#homepage_img .form-control {
    margin: 0.25rem;
}

.jumbotron {
    background-color: #508593;
}

.card-deck {
    display: block;
}

.card {
    width: 15rem;
    height: 18rem;
    margin: 3rem;
}

.card:hover {
    height: 90%;
    box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.5);
}

.card-img-top {
    height: 8rem;
}

.card-body {
    height: 8rem;
    font-size: x-small;
}

.card-title, a {
    color: #544f63;
}

.card-title {
    margin-bottom: .1rem;
}

.card-text {
    height: 2.8rem;
}

.fa-pencil-square-o {
    padding-left: 5px;
    padding-right: 5px;
}

.fa-internet-explorer, .fa-pencil-square-o {
    color: #508593;
}

.fa-trash {
    color: #f2d2ec;
}

.fa:hover {
    font-size: 200%;
}

#result .form-control {
    margin: 0.25rem;
}

.table-responsive-lg {
    background-color: #eeeeee !important;
}

/* Schedule upload page */
#upload_widget {
    width: 100%;
    height: 18rem;
}

#upload_widget:hover {
    color: #f2d2ec;
}


#upload_widget.p {
    font-size: 2vw;
}

.fa-picture-o {
    margin-top: 4rem;
}

/* Delete Schedule */
.alert-danger {
    background-color: #eeeeee;

}
.delete.btn {
    color:  #f2d2ec;
    background:  #121214;
}

.delete.btn-danger {
    color:  #121214;
    background:  #f2d2ec;
}

/* Profile update */
#updated_image {
    height: 17rem;
}