<!DOCTYPE html>
{% extends "layout.template.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<form class="form-inline mb-3" method="GET">
    <input type="text" class="form-control" name="search_pol" placeholder="Port Of Loading"/>
    <input type="text" class="form-control ml-1" name="search_pod" placeholder="Port Of Discharge"/>
    <input type="submit" class="form-control ml-3" value="search"/>
</form>
<div class="table-responsive-lg">
  <table class="table table-striped table-bordered table-hover table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ETA POL</th>
        <th scope="col">Port of Loading</th>
        <th scope="col">Port of Discharge</th>
        <th scope="col">ETA POD</th>
        <th scope="col">Vessel</th>
        <th scope="col">Vovage</th>
        <th scope="col">Transit Days</th>
        <th scope="col">Member</th>
        <th scope="col">Action</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for s in schedules %}
      <tr>
        <td>{{s.eta_pol}}</td>
        <td>{{s.pol}}</td>
        <td>{{s.pod}}</td>
        <td>{{s.eta_pod}}</td>
        <td>{{s.vessel}}</td>
        <td>{{s.vovage}}</td>
        <td>{{s.transit_days}}</td>
        <td>Member</td>
        <td>Book</td>
        <td>
            <a href="{{url_for('schedule_update_form', id=s._id)}}" class="btn btn-primary btn-sm">Edit</a>
            <a href="{{url_for('schedule_delete_form', id=s._id)}}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{{url_for('schedule_create_form')}}" class="btn btn-primary">Create Schedule</a>
</div>
{% endblock %}
