<!DOCTYPE html>
{% extends "layout.template.html" %} 
{% block title %}Create a Profile{% endblock %} 
{% block content %}
<div class="container">
    <h1>Create your profile</h1>
    <form method="POST">
        <div>
            <a id="upload_widget" class="btn">
                <input type="hidden" id="uploaded_image_url" name="uploaded_image_url"/>
                <div class="row">
                    <div class="col">
                        <i class="fa fa-picture-o fa-4x d-lg-flex justify-content-center" aria-hidden="true"></i>
                        <p>Upload your profile image here</p>
                    </div>
                    <div class="col"><img src=" " id="updated_image" class="img-fluid"/></div>
                </div>
            </a>
        </div>
        <div>
            <textarea type="text" class="form-control mt-3" name="company_name" placeholder="Enter company name"></textarea>
        </div>
        <div>
            <textarea type="text" class="form-control mt-3" name="website" placeholder="Enter website"></textarea>
        </div>
        <div>
            <textarea type="text" class="form-control mt-3" row="5" name="description" placeholder="Enter description"></textarea>
        </div>
        <div>
            <input type="submit" class="btn mt-3" value="Create a post"/>
            <a href="{{url_for('home')}}" class="btn mt-3">Cancel</a>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  

    <script type="text/javascript">  
        let myWidget = cloudinary.createUploadWidget({
            cloudName: '{{cloud_name}}', 
            uploadPreset: '{{upload_preset}}'}, (error, result) => { 
                if (!error && result && result.event === "success") { 
                console.log('Done! Here is the image info: ', result.info); 
                let fileURL = document.querySelector("#uploaded_image_url");
                fileURL.value = result.info.url;

                document.querySelector("#updated_image").src = result.info.url;
                
                }
            }
        )
        
        document.getElementById("upload_widget").addEventListener("click", function(){
            myWidget.open();
        }, false);
    </script>
<div class="container">
{% endblock %}
