<!doctype html>
{% extends "layout.template.html" %}

{% block title %}Create New Schedule{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        <div>
            <label>ETA POL :</label>
            <input type="date" class="form-control" name="eta_pol"/>
        </div>
        <div>
            <label>POL :</label>
            <input type="text" class="form-control" name="pol"/>
        </div>
        <div>
            <label>POD :</label>
            <input type="text" class="form-control" name="pod"/>
        </div>
        <div>
            <label>ETA POD :</label>
            <input type="date" class="form-control" name="eta_pod"/>
        </div>
        <div>
            <label>Vessel :</label>
            <input type="text" class="form-control" name="vessel"/>
        </div>
        <div>
            <label>Vovage :</label>
            <input type="text" class="form-control" name="vovage"/>
        </div>
        <div>
            <label>Transit Days :</label>
            <input type="text" class="form-control" name="transit_days"/>
        </div>
        <input type="submit" class="btn btn-outline-info mt-3" value="Create"/>
    </form>
</div>

<div class="container">
    <div class="row">
        {% for i in images %}
        <div class="col-sm-3 ml-3">
            <div class="card">        
                <img class="card-img-top" src="{{i.uploaded_image_url}}" alt="Member Company name"/>
                <div class="card-body">
                    <h5 class="card-title">WM Group</h5>
                    <p class="card-text">{{i.description}}</p>
                    <div class="d-lg-flex align-items-end">
                        <a href="http://www.wmgroup.com.sg" class="btn btn-primary btn-sm">Website</a>
                        <a href="#" class="btn btn-primary btn-sm">Edit</a>
                        <a href="#" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </div> 
            </div>
        </div>           
        {% endfor %}
    </div>
</div>
{% endblock %}